header{
    background: url(SOPORTESTALLERHTML/BANNERS/productos.jpg)no-repeat;
    background-size: cover;
    height: 300px;
    overflow: hidden;
}

h1{
    font-size: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: rgb(134, 169, 189);
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li {
    flex-grow: 3;
    text-align: center;
}