body{
    margin: 0;
    padding: 0;
    background: url(/img/inventario-fantasma-stock.1.15.jpeg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100hv;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-box{
    width: 320px;
    height: 420px;
    background: rgb(32, 33, 32);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 30px;
}
.login-box .avatar{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login-box h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    letter-spacing: 1px;
}

.login-box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
    border-left: 4px solid #fff;
    padding-left: 4px;
    line-height: 1em;
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
}
.login-box input[type="text"],
.login-box input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.login-box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.login-box input[type="submit"]:hover{
    background: rgb(0, 255, 47);
    color: #000;
    
}
.icon{
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 153, 255);
    border-radius: 50%;
    margin-bottom: 5px;
    box-shadow: 5px 5px 7px rgba(0,0,0,0.25),
    inset 2px 2px 5px rgba(255,255,255,0.25),
    inset -3px -3px 5px rgba(0,0,0,0.5);
}
